@use "../global/variables.scss" as var;

.buildings__box {
  margin: 0 0 24px 0;

  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 0 0 20px 0;
  }
}

.buildings__slider-box {
  grid-column: 1 / 3;
}

.buildings__form {
  @media (max-width: var.$mobile-width-only) {
    margin: 18px 0 0 0;
  }
}

.buildings__form-text {
  margin: 10px 0 0 0;
  font-size: 14px;
  line-height: 17px;
  color: rgba(var.$black, 0.4);

  @media (max-width: var.$mobile-width-only) {
    display: none;
  }

  a {
    color: rgba(var.$black, 0.4);
    text-decoration: underline;
  }
}

.buildings__form-button {
  @media (min-width: var.$tablet-width) {
    margin: 72px 0 0 0;
  }
}

.buildings__title {
  margin: 0 0 24px 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var.$black;

  @media (min-width: var.$tablet-width) {
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 16px 0;
  }
}
