@use "../global/variables.scss" as var;

.input {
  font-family: inherit;
  width: 100%;
  color: var.$black;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: var.$transparent;
  transition: 0.3s ease;

  &:hover {
    border-color: var.$black;
  }

  &--large {
    padding: 11px 16px;
    border: 1px solid rgba(var.$black, 0.3);
    border-radius: 8px;

    &::placeholder {
      color: rgba(var.$black, 0.3);
    }

    @media (min-width: var.$tablet-width) {
      padding: 14px 16px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &--small {
    padding: 0 8px 6px 0;
    border: none;
    width: 100%;
    border-bottom: 1px solid rgba(var.$black, 0.1);

    &::placeholder {
      color: rgba(var.$black, 0.3);
    }

    @media (min-width: var.$tablet-width) {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
