@use "../global/variables.scss" as var;

.main-form {
  padding: 24px 0;

  @media (min-width: var.$tablet-width) {
    padding: 0;
  }
}

.main-form__wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid var.$whisper;
  background-color: var.$white;
  box-shadow: 0 4px 20px rgba(var.$black, 0.07);
  z-index: 2;

  @media (min-width: var.$tablet-width) {
    padding: 32px;
    margin: -56px 0 48px 0;
  }

  &--contacts {
    margin: 0 0 16px 0;

    @media (min-width: var.$tablet-width) {
      margin: 0 0 24px 0;
    }
  }
}

.main-form__input-wrapper {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

.main-form__title {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var.$black;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 24px;
  }
}

.main-form__item {
  margin: 0 0 8px 0;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 16px 0;
  }

  &--hidden {
    @media (max-width: var.$mobile-width-only) {
      display: none;
    }
  }
}

.main-form__select {
  padding: 12px 48px 12px 16px;
  color: rgba(var.$black, 0.3);
  appearance: none;
  background-image: url("../img/sprite.svg#icon-select-arrow");
  background-repeat: no-repeat;
  background-position: top 12px right 12px;
  background-size: 16px 16px;

  option {
    color: var.$black;
  }
}

.main-form__button {
  margin: 10px 0 0 0;
}

.main-form__control {
  position: relative;
  display: block;
  margin: 0 0 16px 0;
  padding-left: 40px;
}

.main-form__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/sprite.svg#icon-checkbox");
  cursor: pointer;
}

.main-form__control-input:not(:disabled):hover + .main-form__control-mark {
  opacity: 0.6;
}

.main-form__control-input:not(:disabled):active + .main-form__control-mark {
  opacity: 0.3;
}

.main-form__control-input:focus + .main-form__control-mark {
  outline: 1px solid var.$black;
}

.main-form__control-input:checked + .main-form__control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 6px;
  background-image: url("../img/sprite.svg#icon-tick");
  transform: translate(-50%, -50%);
}

.main-form__control-input:disabled + .main-form__control-mark {
  opacity: 0.1;
  pointer-events: none;
}

.main-form__control-input:disabled + .main-form__control-mark::before {
  opacity: 0.1;
  pointer-events: none;
}

.main-form__control-input:disabled ~ .main-form__control-description {
  opacity: 0.1;
}
