@use "../global//variables.scss" as var;

.team {
  position: relative;

  .container {
    display: grid;
  }
}

.team__title {
  margin: 0 0 24px 0;
  font-family: var.$secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var.$black;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 150px 0;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }
}

.team__list {
  position: relative;
  padding: 0;
  list-style: none;
  margin: 0 0 24px 0;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 48px 0;
  }

  .swiper-pagination {
    bottom: 0;

    @media (min-width: var.$desktop-width) {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .swiper-pagination-bullet-active {
    background-color: var.$atlantis;
  }
}

.team__list.swiper {
  min-width: 0;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__picture-wrapper {
  margin: 0 0 14px 0;
}

.team__text-wrapper {
  max-width: 548px;
}

.team__item-title {
  margin: 0 0 16px 0;
  font-family: var.$accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var.$black;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 14px 0;
    font-size: 28px;
    line-height: 34px;
  }
}

.team__item-accent {
  color: rgba(var.$atlantis, 0.85);
}

.team__items-subtitle {
  margin: 0 0 8px 0;
  font-weight: 500;
  color: var.$black;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }
}

.team__item-text {
  margin: 0 0 48px 0;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0;
  }
}

.team__img {
  border-radius: 50%;
  box-shadow: 0 4px 25px rgba(var.$black, 0.18);

  @media (min-width: var.$tablet-width) {
    width: 320px;
    height: 320px;
  }
}

.team__small-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;

  @media (min-width: var.$desktop-width) {
    display: block;
  }
}

.team__small-item {
  position: absolute;
  opacity: 0.6;
  z-index: 3;

  &--first {
    top: 58px;
    right: 635px;
  }

  &--second {
    top: 225px;
    right: 400px;
  }

  &--third {
    top: 400px;
    right: 520px;
  }

  &--fourth {
    top: 400px;
    left: 520px;
  }

  &--fifth {
    top: 225px;
    left: 400px;
  }

  &--sixth {
    top: 60px;
    left: 635px;
  }
}

.team__small-img {
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(var.$black, 0.25);
}

.team__pagination.swiper-pagination {
  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 16px;
    width: 12px;
    height: 12px;
  }
}
