@use "../global//variables.scss" as var;

.team {
  position: relative;
}

.team__title {
  margin: 0 0 16px 0;
  font-family: var.$secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var.$black;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 150px 0;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }
}

.team__list {
  padding: 0;
  list-style: none;
  margin: 0 0 24px 0;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 48px 0;
  }
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:first-child) {
    display: none;
  }
}

.team__picture-wrapper {
  margin: 0 0 16px 0;
}

.team__text-wrapper {
  max-width: 548px;
}

.team__item-title {
  margin: 0 0 16px 0;
  font-family: var.$accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var.$black;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 14px 0;
    font-size: 28px;
    line-height: 34px;
  }
}

.team__item-accent {
  color: rgba(var.$atlantis, 0.85);
}

.team__items-subtitle {
  margin: 0 0 8px 0;
  font-weight: 500;
  color: var.$black;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }
}

.team__item-text {
  margin: 0;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }
}

.team__img {
  @media (min-width: var.$tablet-width) {
    width: 320px;
    height: 320px;
  }
}

.team__small-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;

  @media (min-width: var.$desktop-width) {
    display: block;
  }
}

.team__small-item {
  position: absolute;

  &--first {
    top: 58px;
    right: 400px;
  }

  &--second {
    top: 225px;
    right: 160px;
  }

  &--third {
    top: 400px;
    right: 275px;
  }

  &--fourth {
    top: 400px;
    left: 275px;
  }

  &--fifth {
    top: 225px;
    left: 160px;
  }

  &--sixth {
    top: 60px;
    left: 395px;
  }
}
